site_name: Odiplus Investment
site_url: https://omoaletsane.github.io/odiplus-website/

theme:
  name: material

plugins:
  - search
  
nav:
  - Home: index.md
  - Services: services.md
  - About: about.md
  - Contact: contact.md